Copyright (c) {{ copyright_year }} {{ author_name }}. All rights reserved.

This software is proprietary and confidential. No part of it may be copied, modified or distributed without the
copyright holder's written permission.
