package {{ base_package }}.db

import doobie.Meta

import java.time.Instant

/** The doobie mappings that depend on the database. The only database-specific file of the doobie layer. */
object DoobieMappings {

  /** SQLite: `integer` epoch milliseconds. (sqlite-jdbc can't read an Instant directly, so doobie's java.time instances don't work here.)
    */
  given Meta[Instant] = Meta[Long].timap(Instant.ofEpochMilli(_).nn)(_.toEpochMilli)

}
