package {{ base_package }}.db

import com.dimafeng.testcontainers.MariaDBContainer
import org.testcontainers.utility.DockerImageName
import zio.*

import javax.sql.DataSource

/** A throwaway MariaDB in a container, with the migrations applied. Needs Docker. */
object TestDatabase {

  val config: TaskLayer[DatabaseConfig] = ZLayer.scoped {
    ZIO
      .acquireRelease(ZIO.attemptBlocking {
        val container = MariaDBContainer(dockerImageName = DockerImageName.parse("mariadb:11.4").nn)
        container.start()
        container
      })(container => ZIO.attemptBlocking(container.stop()).orDie)
      .map(container =>
        DatabaseConfig(
          url = container.jdbcUrl,
          user = container.username,
          password = container.password,
          migrationsLocation = "classpath:db/migration/mysql"
        )
      )
  }

  val dataSource: TaskLayer[DataSource] = config >>> DataSources.live

}
