package {{ base_package }}.client

import japgolly.scalajs.react.ReactDOMClient
import org.scalajs.dom

object Main {

  def main(args: Array[String]): Unit = {
    // React 19 removed ReactDOM.render (renderIntoDOM); roots are created explicitly now.
    ReactDOMClient.createRoot(dom.document.getElementById("container")).render(App())
    ()
  }

}
