package {{ base_package }}.client

import japgolly.scalajs.react.ReactDOMClient
import org.scalajs.dom

object Main {

  def main(args: Array[String]): Unit = {
    // React 19 removed ReactDOM.render (renderIntoDOM); roots are created explicitly now.
    // AuthGate renders the application as it is, unless the project was generated with authentication, in which case
    // it asks whoever is at the browser to log in first.
    ReactDOMClient.createRoot(dom.document.getElementById("container")).render(AuthGate(App()))
    ()
  }

}
